
{% extends "hub/menu_base.html" %}

{% block baseheader %}

	<title>Tickets</title>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.css">

	<style type="text/css">

	#tickets_maindiv {
		font-family: verdana;
		font-size: 12px;
	}

	#tickets_maindiv table {
		font-family: inherit;
		font-size: inherit;
	}

	#tickets_maindiv a {
		text-decoration: none;
	}

	#tickets_maindiv a:hover {
		color: red;
	}

	#tickets_maindiv a:visited {
		color: blue;
	}

	#tickets_maindiv p {
		margin:0px;
		padding: 5px;
	}

	#tickets_maindiv ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	#tickets_maindiv li {
		margin: 0px;
		padding: 0px;
	}

	#tickets_maindiv table {
		border-collapse: collapse;
	}

	#tickets_maindiv #topbar {
		background-color: #EEE;
		padding: 7px;
		margin-bottom: 10px;
	}

	#tickets_maindiv #topbar span span {
		float: right;
	}

	#tickets_maindiv #maintable {
		width: 100%;

	}

	#tickets_maindiv #maintable td {
		padding: 15px;
		vertical-align: top;
		margin: 5px;
		padding-top: 0px;
	}

	#tickets_maindiv #menu {
		width: 150px;
		background-color: #EEF;
	}

	#tickets_maindiv #menu h1, #tickets_maindiv #menu ul {
		/*font-size: 15px;*/
		border: 1px solid gray;
		margin-bottom: 0px;
		padding: 5px;
	}

	#tickets_maindiv #menu h1 {
		font-size: 120%;
		margin-top: 10px;
	}

	#tickets_maindiv #menu ul {
		border-top: none;
	}

	#tickets_maindiv #content {
	}

	#tickets_maindiv #tickettable {
		width: 100%;
		margin-bottom: 0px;
		padding-bottom: 0px;
		font-size: 10px;
	}

	#tickets_maindiv #tickettable td, #tickets_maindiv #tickettable th {
		border: 1px solid #DDD;
		text-align: left;
		padding: 5px;
	}


	#tickets_maindiv #ticket_descr {
		border: 1px solid #AAA;
		padding: 5px;
		background-color: #DDD;
		margin: 0px;
		border-bottom: none;
	}

	#tickets_maindiv .ticket_user {
		float: left;
	}

	#tickets_maindiv .ticket_date {
		float: right;
	}

	#tickets_maindiv #comment {
		border: 1px solid gray;
		padding: 5px;
		margin-bottom: 3px;
	}

	#tickets_maindiv #newcomment textarea {
		width: 100%;
	}

	#tickets_maindiv #newcomment {
		margin-bottom: 30px;
	}

	#tickets_maindiv .tt_120 {
		width: 120px;
	}

	#tickets_maindiv .tt_70 {
		width: 70px;
	}

	#tickets_maindiv .form_inline {
		margin-right: 20px;
		display: inline;
	}

	#tickets_maindiv #table_theticket {
		width: 100%;
	}

	#tickets_maindiv #table_theticket td, #tickets_maindiv #table_theticket th {
		border: 1px solid #AAA;
		padding: 8px;
		text-align: left;
	}

	#tickets_maindiv #table_theticket th {
		width: 160px;
	}


	</style>

	{% block header %}

	{% endblock %}

{% endblock %}



{% block basebody %}

	<div id="tickets_maindiv">

	<table id="maintable">
		<tr>
		<td id="menu">

		<h1> Opcions </h1>
		<ul>
		<li> <a href="{% url 'tickets-open' %}"> Obertes </a></li>
		<li> <a href="{% url 'tickets-closed' %}"> Tancades </a></li>
		<li> <a href="{% url 'tickets-pending' %}">Pendents </a></li>
		</ul>

		<h1> Nova incidència </h1>
		<ul>
		<li> <a href="{% url 'tickets-new' %}">Obrir nova</a> </li>
		</ul>

		<h1> Utilitats </h1>
		<ul>
		<li> Darrers comentaris </li>
		<li> Cercador </li>
		</ul>


		</td>

		<td id="content">

		{% block content %}

		{% endblock %}

		</td>
		</tr>
	</table>

	</div>

{% endblock %}
