{% extends "tickets/base.html" %}

{% load markup %}


{% block header %}

<script type="text/javascript">

$(document).ready(function() {

	$("#tickettable").DataTable({
		"order": [[ 0, "desc"]],
        stateSave: true
	});

});

</script>

<style type="text/css">

div.yellow_helper {
	background-color: yellow;
	padding: 10px;
	width: 500px;
	position: absolute;
	display: none;
	border: 1px solid silver;
}


</style>



{% endblock %}

{% block content %}

<h2> Llista incidencies en estat "{{ state }}"</h2>

<table id="tickettable">
	<thead>
		<tr><th>Data</th><th>Descripció</th><th>Assignat</th><th>Lloc</th><th>Usuari</th></tr>
	</thead>

	<tbody>
{% for ticket in tickets %}
	<tr>
		<td> {{ ticket.date|date:"Y-m-d"}}
		</td>

		<td> <a href="{% url ticket-show ticket.id %}">{{ ticket.description|truncatewords:12 }}</a>
		</td>
		<td> {% if ticket.assigned_user %}
		   						{{ ticket.assigned_user }}
							{% else %}
								---
							{% endif %} </td>
		<td> {{ ticket.place }} </td>
		<td> {{ ticket.reporter_email }}  </td>
	</tr>
{% endfor %}
	</tbody>
</table>

{% endblock %}
