<html>

<head>

<STYLE type="text/css">
		    

#TLOG {
	border: 1px solid white;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background: #EEEEEE;
}

#TLOG TD, #TLOG TH {
	border: 1px solid white;
	padding: 10px;
	text-align: left;
}

#TLOG TD.center {
	text-align: center;
}

h1 { text-align: center; }

input { width: 270px; }

#SUBMIT { 
	width: 370px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #AAAAAA;
}

</STYLE>


</head>


<body>




<H1>Sistema d'incidències</H1>
<FORM method="post" action="{% url login %}">
<TABLE id="TLOG">
<TBODY>

{{ form }}

<tr><td colspan=2 class="center"><input type="submit"></td></tr>

{% if error %}

<tr><td colspan=2 class="center">
Nom i/o password no correctes
</td></tr>

{% endif %}


</TBODY>
</TABLE>



</body>

</html>