{% extends "tickets/base.html" %}

{% load markup %}

{% block content %}

<div id="ticket_descr">
{{ ticket.description|markdown }}
</div>
<div class="ticket_user">
{{ ticket.reporter_email }}
</div>
<div class="ticket_date">
{{ ticket.date|date:"d-m-y, H:i" }}
</div>

<div style="clear: both"><div>
<br>

{% ifequal ticket.state "O" %}
<form method="POST">
<input type="hidden" name="action" value="close">
<input type="submit" value="TANCA">
</form>
{% endifequal %}
{% ifequal ticket.state "T" %}
<form method="POST">
<input type="hidden" name="action" value="open">
<input type="submit" value="OBRE" name="changestate">
</form>
{% endifequal %}

<form method="POST" id="newcomment">
	<p>Comentari:</p>
	<textarea rows=10 name="text"></textarea>
	<input type="hidden" name="action" value="new">
	<input type="submit">
</form>


{% for comment in comments %}
	<div id="comment">
	{{ comment.text|markdown }}
	</div>
	<div class="ticket_user">
	{{ comment.author.full_name }}
	</div>
	<div class="ticket_date">
	{{ comment.date|date:"d-m-y, H:i:s" }}
	</div>
	<div style="clear: both;"><div><br>
{% endfor %}



{% endblock %}