{% extends "tickets/base.html" %}
{% load markup %}


{% block header %}
<script type="text/javascript">

$(document).ready(function() {

	$("input[type='submit'][value='ELIMINA']").click(function() {
			var answ = confirm("Segur que vols eliminar?");
			if (answ) return true;
			else      return false;
	});


});

</script>
{% endblock %}



{% block content %}

<div id="ticket_descr">
{{ ticket.description|markdown:"safe" }}
</div>
<div class="ticket_user">
{{ ticket.reporter_email }}
</div>
<div class="ticket_date">
{{ ticket.date|date:"d-m-y, H:i" }}
</div>

<div style="clear: both"><div>
<br>

{% ifequal ticket.state "O" %}
<form method="POST" class="form_inline">
<input type="hidden" name="action" value="close">
<input type="submit" value="TANCA">
</form>

<form method="POST" class="form_inline">
<input type="hidden" name="action" value="pending">
<input type="submit" value="MARCA COM A PENDENT">
</form>

<form method="POST" class="form_inline">
<input type="hidden" name="action" value="delete">
<input type="submit" value="ELIMINA" name="changestate">
</form>

{% endifequal %}
{% ifequal ticket.state "T" %}
<form method="POST" class="form_inline">
<input type="hidden" name="action" value="open">
<input type="submit" value="OBRE" name="changestate">
</form>
{% endifequal %}

{% ifequal ticket.state "P" %}
<form method="POST" class="form_inline">
<input type="hidden" name="action" value="open">
<input type="submit" value="OBRE" name="changestate">
</form>
{% endifequal %}

<br><br>


{% ifequal ticket.state "O" %}
<form method="POST" id="newcomment">
	
	<p>Comentari:</p>
	<textarea rows=10 name="text"></textarea>
	<input type="hidden" name="action" value="new">
	<input type="checkbox" name="email">Enviar comentari per email<br>
	<input type="submit">
</form>
{% endifequal %}


{% for comment in comments %}
	<div id="comment">
	{{ comment.text|markdown:"safe" }}
	</div>
	<div class="ticket_user">
	{{ comment.author.full_name }}
	</div>
	<div class="ticket_date">
	{{ comment.date|date:"d-m-y, H:i:s" }}
	</div>
	<div style="clear: both;"><div><br>
{% endfor %}



{% endblock %}